:root {
    --reach-menu-button: 1;
}

.list {
    background: #fff;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    min-width: 170px;
    outline: none;
    padding: 10px 0;
    z-index: 1000;
}

.item {
    color: #333;
    cursor: pointer;
    display: block;
    padding: 7px 40px 7px 20px;
    outline: none;
    white-space: nowrap;
}

.item:hover,
.item:focus {
    background: #f3f3f3;
    text-decoration: none;
    color: #333;
}

.spacer {
    display: inline-block;
    width: 10px;
}